{
	"deviceSettings": {
		"apiKey": {
			"defaultValue": "",
			"dataType"    : "string",
			"isSensitive" : true,
			"description" : "Your api key"
		}
	},
	"linkSettings": {
		"roomId": {
			"defaultValue": 0,
			"dataType"    : "integer",
			"isSensitive" : false,
			"description" : "Room id"
		}
	}
}
